.index
  .index__serch
    .index__serch__top
      .index__serch__top__btn.no1 ジャンルから探す ジャンルから探す ジャンルから探す
      .index__serch__top__btn.no2 特徴から探す

      .index__serch__top__box.none1
        = form_tag(category_search_targets_path, method: :get) do
          = label_tag :genre , "ジャンル検索" , class:"index__serch__top__box__label"
          = select_tag :genre , options_for_select([["ITスキル", "ITスキル"], ["言語", "言語"], ["資格勉強", "資格勉強"] , ["仕事全般", "仕事全般"] , ["スポーツ", "スポーツ"], ["小学生向け", "小学生向け"] , ["シニア向け", "シニア向け"] , ["遊び", "遊び"] ]) , :prompt => "選択してください" , name:"keyword"
          = submit_tag "検索" , class:"index__serch__top__box__btn"

      .index__serch__top__box.none2
        = form_tag(feature_search_targets_path , method: :get) do |f|
          = label_tag :feature , "特徴検索" , class:"index__serch__top__box__label"
          = select_tag :feature , options_for_select([["コツコツ系", "コツコツ系"], ["短期集中向き", "短期集中向き"], ["女性に人気", "女性に人気"], ["年単位で努力", "年単位で努力"] ]) , :prompt => "選択してください" , name:"keyword"
          = submit_tag '検索する' , class:"index__serch__top__box__btn"

  .index__flame
    -@targets.each do |target|
      -if target.time <= current_user.periods.last.time
        .index__flame__main
          .index__flame__main__genre
            = "ジャンル:#{target.genre}"
          .index__flame__main__time
            = "投資時間:#{target.time}"
          .index__flame__main__title
            = target.title
          .index__flame__main__img
            = image_tag target.img , size:'400x200'
          
          .index__flame__main__link
            =link_to add_target_path(target) , method: :post do
              .index__flame__main__btn.btn1 お気に入り
            =link_to add_target_path(target) , method: :delete do
              .index__flame__main__btn.btn2 お気に入り解除する
            =link_to target_path(target) do
              .index__flame__main__btn.btn3 詳しく見る

.index__pagenation