.index
  .index__serch
    .index__serch__top
      .index__serch__top__btn.no1 ジャンルから探す
      .index__serch__top__btn.no2 特徴から探す

      .index__serch__top__box.none1
        = form_for("") do |f|
          = f.label :genre , "ジャンル検索" , class:"index__serch__top__box__label"
          = f.select :genre , [["ITスキル", "ITスキル"], ["言語", "言語"], ["資格勉強", "資格勉強"] , ["仕事全般", "仕事全般"] , ["スポーツ", "スポーツ"], ["小学生向け", "小学生向け"] , ["シニア向け", "シニア向け"] , ["遊び", "遊び"] ] , :prompt => "選択してください"
          = f.submit class:"index__serch__top__box__btn" , value:"検索"

      .index__serch__top__box.none2
        = form_for("") do |f|
          = f.label :genre , "特徴検索" , class:"index__serch__top__box__label"
          = f.select :genre , [["ITスキル", "ITスキル"], ["言語", "言語"], ["資格勉強", "資格勉強"] , ["仕事全般", "仕事全般"] , ["スポーツ", "スポーツ"], ["小学生向け", "小学生向け"] , ["シニア向け", "シニア向け"] , ["遊び", "遊び"] ] , :prompt => "選択してください"
          = f.submit class:"index__serch__top__box__btn" , value:"検索"



      
  .index__flame
    -@targets.each do |target|
      -if target.time <= current_user.periods.last.time
        .index__flame__main
          .index__flame__main__genre
            = "ジャンル:#{target.genre}"
          .index__flame__main__time
            = "投資時間:#{target.time}"
          .index__flame__main__title
            = target.title
          .index__flame__main__img
            = image_tag target.img , size:'400x200'
          .index__flame__main__btn お気に入りに追加する
          .index__flame__main__btn 詳しく見る
          
      

  .index__pagenation
    = paginate @targets
