.index-show
  .index-show__flame
    .index-show__flame__top
      .index-show__flame__top__in
        = "ジャンル:#{@target.genre}"
      .index-show__flame__top__in
        = "特徴:#{@target.feature}"
      .index-show__flame__top__in
        = "必要な時間:#{@target.time}"

    .index-show__flame__top2
      .index-show__flame__top__img
        =image_tag @target.img , size:'300x200'
      .index-show__flame__top__text
        = "タイトル:#{@target.title}"

    .index-show__flame__top3 ユーザーからのhow to情報とおすすめ度
    
    .index-show__flame__send
      = form_for [@target , @howto] do |f|
        .index-show__flame__send__input
          = f.text_field :comment , class:"input-com" , placeholder:"(例)テックキャンプまじおすすめ プログラミンそんなに難しくないよ",maxlength:"200"
          
        .index-show__flame__send__btn
          = f.submit "how to共有" , class:"input-btn"
  
  - @target.howtos.each do |howto|
    .index-show__flame__top4
      .index-show__flame__top4__in
        .index-show__flame__top4__in__left
          =howto.user.name
        .index-show__flame__top4__in__left
          =link_to "編集" , edit_target_howto_path(@target,howto) , class:"link" if current_user == howto.user
          =link_to "削除" , target_howto_path(@target,howto) , method: :delete , class:"link" if current_user == howto.user
      .index-show__flame__top4__in2
        =howto.comment