.index
  .index__flame
    -@targets.each do |target|
      -if target.present?
        .index__flame__main
          .index__flame__main__genre
            = "ジャンル:#{target.genre}"
          .index__flame__main__time
            = "投資時間:#{target.time}"
          .index__flame__main__title
            = target.title
          .index__flame__main__img
            = image_tag target.img , size:'400x200'
          
          .index__flame__main__link
            =link_to add_target_path(target) , method: :post do
              .index__flame__main__btn.btn4 お気に入り
            =link_to add_target_path(target) , method: :delete do
              .index__flame__main__btn.btn5 お気に入り解除する
            =link_to target_path(target) do
              .index__flame__main__btn.btn6 詳しく見る

.index__pagenation